body {
  background-color: #ffe4ec; /* fond rose clair */
  color: #4a4a4a;
  font-family: Helvetica;
  font-size: 17px;
}

/* Titres */
h1, h2, h3 {
  font-family: Courier;
  color: #ff4d88;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: lighter;
}

/* Container principal */
.container {
  width: 700px;
  margin: 40px auto;
}

/* Cartes */
.card-white {
  background-color: white;
  color: #333;
  padding: 40px;
  margin: 20px 0px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

/* Image ronde */
.img-circle {
  border-radius: 50%;
  width: 150px;
}

/* Bouton */
.btn-blue {
  background-color: #ff4d88;
  color: white;
  padding: 15px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}

/* Liens */
a {
  color: #ff4d88;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
}

/* Liste réseaux */
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 40px;
  color: rgb(200, 200, 200);
  transition: 0.3s;
}

.list-inline i:hover {
  color: #ff4d88;
}

/* Intro */
#introduction {
  text-align: center;
}

#introduction p {
  margin-bottom: 40px;
}

/* Responsive */
@media (max-width: 760px) {
  .container {
    width: 90%;
  }
}